# VS Code
.vscode/

# Jetbrains
.idea/

# ninja
.ninja_deps
.ninja_log
build.ninja
compile_commands.json
*.log
*.ninja

# generated
_Bin/
_Build/
_Shaders/
_NRI_SDK/
_Tmp/
NRIAgilitySDK.h
.zig-cache/
zig-oug/
